POSTGRES_PRISMA_URL="postgres://user:password@host/db?pgbouncer=true&connect_timeout=15&sslmode=require"
POSTGRES_URL_NON_POOLING="postgres://user:password@host/db?sslmode=require"
EMAIL_PASSWORD="your_app_password"
EMAIL="your@email.com"
NUXT_PUBLIC_SITE_URL="https://whostolemysleep.ru"
NUXT_PUBLIC_CONTACT_FORM=true
